Username=<neo4j_username>
Password=<neo4j_password>
connection_url=neo4j+s://<instance-id>.databases.neo4j.io
connection_query_api_url=https://<instance-id>.databases.neo4j.io/db/<instance-id>/query/v2
JWT_SECRET=<jwt_secret>